<section>
  <form ref='uploadForm' 
      id='uploadForm' 
      action="{{url}}" 
      method='post' 
      target="_blank"
      encType="multipart/form-data">
    <fieldset>
      <legend>{{action}} image form</legend>

      <div class="form-group">
        <label> Title
        <input type="text" name="title">
        </label>
        <label> File
        <input type="file" name="img">
        </label>
      </div>

      <div class="actions">
        <label></label>
        <button>{{action}} image</button>
      </div>
    </fieldset>
  </form>
<section>
